* {
  box-sizing: border-box;
}

body {
  text-align: center;
  background-color: whitesmoke;
  font-family: "Noto Sans", sans-serif;
}
h1,
p {
  color: #778ca3;
  text-align: center;
}
a {
  color: #4b7bec;
  text-decoration: none;
}
a:hover {
  text-decoration: underline;
}
