* {
  box-sizing: border-box;
}

body {
  text-align: center;
  background-color: rgb(213, 213, 213);
  font-family: "Noto Sans", sans-serif;
}
h1,
p {
  color: rgb(96, 141, 255);
  text-align: center;
}
a {
  color: violet;
  text-decoration: none;
}
a:hover {
  text-decoration: underline;
}
