* {
  box-sizing: border-box;
}

ul {
  text-align: center;
  background-color: #dfe6e9;
  display: flex;
  /*  */
  flex-direction: column; /* desktop일 때 menu 가로 정렬하기 */
  flex-wrap: nowrap;
  /*  */
  justify-content: space-evenly;
}
/* ul::after {
    content: "";
    display: block;
    clear: left;
  } */
li {
  /* li는 display가 list-item이 기본설정임.  */
  /* li 중앙정렬하려면 display값을 inline-block으로 바꿔줘야 함. */
  list-style-type: none; /* li marker : none */
  border-bottom: 2px solid #778ca3;
}
li a {
  padding: 16px 20px;
  display: block;
}

@media screen and (min-width: 769px) {
  ul {
    flex-direction: row; /* mobile일 때 메뉴를 세로 정렬하기 */
  }
}
