ul {
  text-align: center;
  background-color: #dfe6e9;
  display: flex;
  /*  */
  flex-direction: row;
  flex-wrap: nowrap;
  /*  */
  justify-content: space-evenly;
}
/* ul::after {
  content: "";
  display: block;
  clear: left;
} */
li {
  /* li는 display가 list-item이 기본설정임.  */
  /* li 중앙정렬하려면 display값을 inline-block으로 바꿔줘야 함. */
  list-style-type: none; /* li marker : none */
  border-bottom: 2px solid #778ca3;
}
li a {
  padding: 16px 20px;
  display: block;
}

main {
  width: 800px;
  background-color: #dfe6e9;
  margin: 10% auto;
  padding: 25px;
  border: 3px solid black;
  border-radius: 8px;
  box-shadow: 1px 2px 10px rgba(0, 0, 0, 0.5); /* x방향 y방향 흐린정도 그림자의크기 핵상 */
}
#today_goal {
  color: #778ca3;
  font-size: 20px;
  font-weight: bold;
  font-family: "Noto Sans", sans-serif;
}
#light_img {
  width: 300px;
  height: auto;
  border-radius: 100px; /* or ?% */
}
.home_text {
  background-color: rgb(229, 228, 228);
  width: fit-content;
  margin: auto;
  padding: 5% 5%;
  border-radius: 50px;
}
