a:hover {
  background-color: darkkhaki;
}
ol {
  list-style-type: square;
  width: 30%;
  height: auto;
  margin: auto;
}
li {
  margin-inline-end: 10%;
  background-color: rgba(252, 255, 223, 0.334);
  margin-bottom: 10px;
}
#title {
  margin-bottom: 5%;
}

header {
  display: inline-block;
}
